<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="application.properties" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${mtsolutions.log.location}/mtsolutions.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date %level [%file:%line] %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${mtsolutions.log.location}/mtsolutions.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>15</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>15MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="FILE_SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${mtsolutions.log.location}/mtsolutions-sql.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date %level %logger{20} %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${mtsolutions.log.location}/mtsolutions-sql.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>15</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>15MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="proyecto2.mtsolutions" level="info" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="proyecto2.mtsolutions.dao" level="debug" additivity="false">
        <appender-ref ref="FILE_SQL" />
    </logger>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>